/*styling the body of the page*/
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #1b1b32;	
    color: #f5f6f7;
    font-family: Tahoma, "sans-serif";
    font-size: 16px;
  
  }
  
  /*styling header which has a h1 and p inside*/
  
  header {
      text-align: center;
      font-size: 20px;
      margin:1em auto;
  }
  
  /*styling form container*/
  form {
      width: 80%;
      max-width: 750px;
      min-width: 300px;
      margin: auto;
      border-style: solid;
     
     
  }
  /*text label with email and number*/
  .text {
      margin:auto;
      text-align: left;
      width: 100%;
      padding: 5px 0;
      display: inline;
      margin-bottom: 25px;
      font-size: 20px;   
     
  }
  
  /* name, email and text input*/
  .name, .email, .age , .dropdown, .submit{
      display: block;
      text-align: left;
      margin: auto;
      width: 99%;
      height: 2em;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 10px;
      font-size: 18px;
     
  }
  
  .dropdown {
      width: 101%;
      height: 2.2em;
  }
  
  .dropdown-radio-checkbox{
      text-align: left;
      font-size:20px;
  
  }
  
  fieldset{
     margin-top: 5px;
      margin-right:20px;
      margin-left: 20px;
      border-style: none;
      
  }
  
  /*label for checkbox and radio*/
  label {
      display:block;
      padding: 0;
      margin: 0;
      margin-left: 40px;
      position: relative;
      bottom: 5px;
      margin: auto;
      font-size: 18px;
      
  }
  
  
  /*input for checkbox and radio*/ 
  input {
      display:inline;
      vertical-align: middle;
      height: 20px;
      width: 20px;
  }
  
  
  .text-area {
      display: block;
      width: 100%;
  }
  
  input[type=submit]{
      width: 80%;
      background-color: #04AA6D;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 40px;
      text-align: center;
  }
  @media only screen and (max-width: 600px) {
 form {
    width:100%;
    border: none;
}
  }
  
  
  
  